{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "printWidth": 70,
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf"
}
