---
import ArrowUp from './icons/ArrowUp'
---

<div class="fixed bottom-2 right-2 z-50">
  <a
    href="#"
    class="icon-l p-2 border-2 border-gray-200/60 text-gray-100 opacity-60 hover:opacity-90 bg-gray-900/25 text-xs font-medium transition-opacity"
  >
    <span class="icon-l_icon" aria-hidden="true">
      <ArrowUp />
    </span>
    <span class="sr-only md:not-sr-only">Back to top</span>
  </a>
</div>
