---
import clsx from 'clsx'
import type { NavLinks } from '../types'

interface Props {
  links: NavLinks
}

const { links } = Astro.props

const pathname = Astro.url.pathname.split('/')[1].toLowerCase()
---

{
  pathname && (
    <nav>
      <ul class="cluster-l cluster-l_space-0.5 cluster-l_item-min-w-32 cluster-l_center font-semibold text-gray-200 max-w-none">
        {links.map(({ slug, text }) => (
          <li>
            <a
              rel="prefetch"
              href={`/${slug}`}
              class={clsx(
                'py-2.5 inline-block border-2 border-gray-600 w-full transition-all hover:border-gray-500 text-sm text-center',
                {
                  '!border-primary-500': pathname === slug,
                },
              )}
            >
              {text}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  )
}
